@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="well">
  <h2>Edit</h2>

  <h4>Edit this stylist: @Html.DisplayFor(model => model.Type)</h4>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.StylistId)

    @Html.LabelFor(model => model.Type)
    @Html.EditorFor(model => model.Type)

    <input type="submit" value="Save" />
  }
  <div class="fake-button well">
    <center><p class="link">@Html.ActionLink("Back to stylists", "Index")</p></center>
  </div>
</div>